<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <!--Header-->
    <header>
        <h1>Travel Planner</h1>
    </header>

    <!--Form -->

    <form action="#">
        <div class="destination">
            <div class="dest-city">
                <label for="city">Destination:</label>
                <input type="text" id="city" placeholder="CITY" required>
            </div>
            <div class="dest-country">
                <input type="text" id="country" placeholder="COUNTRY" required>
            </div>
        </div>

        <div class="dates">
            <div class="depart">
                <label for="depart-date">Departure:</label>
                <input type="date" id="depart-date" required>
            </div>
            <div class="return">
                <label for="return-date">Return:</label>
                <input type="date" id="return-date" required>
            </div>
        </div>

        <div class="button">
            <input type="submit" id="submit" value="Add Trip">
        </div>
    </form>

    <div id="trip"></div>

    <script src=" " async defer></script>
</body>

</html>