<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!--Header-->
    <header>
        <h1>Travel Planner</h1>
    </header>

    <!--Form -->

    <form action="#">
        <div>
            <label for="city">City: </label>
            <input type="text" id="city" placeholder="city" required>
        </div>
        <div>
            <label for="country">Country: </label>
            <input type="text" id="country" placeholder="country" required>
        </div>
        <div>
            <label for="depart-date">Departure date: </label>
            <input type="date" id="depart-date" required>
        </div>
        <div>
            <label for="return-date">Return date: </label>
            <input type="date" id="return-date" required>
        </div>
        <div>
            <input type="submit" id="submit">
        </div>
    </form>

    <script src=" " async defer></script>
</body>

</html>