@import 'main';
form {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: bolder;
    background: rgba($color: cornsilk, $alpha: 0.6);
    width: 50%;
    margin: 50px auto;
    box-shadow: 20px 20px 20px black;
}

.plan {
    text-align: center;
}

.destination {
    display: flex;
    align-content: center;
    justify-content: center;
}

.dest-city,
.dest-country {
    display: inline-block;
}

.dates {
    display: flex;
    align-content: center;
    justify-content: center;
}

.depart,
.return {
    display: inline-block;
}

.button {
    display: flex;
    justify-content: center;
}

#submit {
    display: block;
    width: 50%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: $primary-font;
    background: rgba($color: cornsilk, $alpha: 0.6);
    transition: border-radius 2s;
}

#submit:focus,
#submit:hover {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    outline: none;
    background-color: cornsilk;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

#city,
#country,
#depart-date,
#return-date {
    margin: 5px;
    padding: 5px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: groove;
    background: none;
}

#city,
#country,
#depart-date,
#return-date,
::placeholder {
    font-family: $primary-font;
    font-weight: bolder;
    text-align: center;
    color: black;
}