$primary-font: 'Open Sans',
sans-serif;
$primary-color: cornsilk;
$shadow-color: rgba($color: $primary-color, $alpha: 0.6);
body {
    background-image: url("../../../images/paradise.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: $primary-font;
}

.title {
    font-size: 2rem;
    text-align: left;
    padding: 1rem;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px 1px $shadow-color;
}

.travel {
    color: $primary-color;
    text-shadow: 5px 5px 5px black;
}

.my-trips {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 100px auto;
    color: black;
    text-shadow: 1px 1px 1px $shadow-color;
}